{% extends 'base.html.twig' %}

{% block body %}
    <h1>Erreur</h1>

    <p>
        Désolé mais une erreur s'est produite pendant la requête.. <br /> <a href="{{ path('homepage') }}">Accueil du site</a>.
    </p>

{% endblock %}