{% extends 'base.html.twig' %}

{% block body %}
    <h1>Page non trouvée</h1>

    <p>
        Désolé mais la page demandée n'existe pas. <br /> <a href="{{ path('homepage') }}">Accueil du site</a>.
    </p>

{% endblock %}